li{
    list-style: none;
}

.taskContainer, .completedTaskContainer, .expiredTaskContainer{
    border: 1px solid rgb(163, 162, 162);
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 10px;   
    width: 700px;
}

.btnEdit, .btnDelete {
    height: 16px;
    width: 16px;
    border: 1px solid transparent;

}

.btnEdit{
    background-image: url("./icons/edit.png");
}

.btnDelete{
    background-image: url("./icons/delete.png");
}

.btnEdit:hover, .btnDelete:hover {
    border: 1px solid rgb(163, 162, 162);
}

.tagField2{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

.tagField2>p{
    margin: 0;
    margin-right: 10px;
}

.tagInput {
    margin-right: 10px;
}

.tags{
    font-style: oblique;
    margin-right: 10px;
    color: rgb(77, 77, 158);
}

.taskViewer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.userAccountViewer{
    display: flex;
    flex-direction: column;
}

.addTaskBtn{
    align-self: flex-end;
    margin-right: 30px;
}

.completedTaskContainer{
    background-color: #e2ffd2;
}

.expiredTaskContainer{
    background-color: #ffd2d2;
}

.scrollingContainer{
    overflow-y: scroll;
    max-height: 78vh;
}
